<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-checkpoint-index") %>>
          <a href="/docs/providers/checkpoint/index.html">Check Point Provider</a>
        </li>

        <li<%= sidebar_current("docs-checkpoint-resource") %>>
        <a href="#">Management Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-host") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_host.html">checkpoint_management_host</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-network") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_network.html">checkpoint_management_network</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-wildcard") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_wildcard.html">checkpoint_management_wildcard</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_group.html">checkpoint_management_group</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-group-with-exclusion") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_group_with_exclusion.html">checkpoint_management_group_with_exclusion</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-time-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_time_group.html">checkpoint_management_time_group</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-address-range") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_address_range.html">checkpoint_management_address_range</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-multicast-address-range") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_multicast_address_range.html">checkpoint_management_multicast_address_range</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-security-zone") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_security_zone.html">checkpoint_management_security_zone</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-dynamic-object") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_dynamic_object.html">checkpoint_management_dynamic_object</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-dns-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_dns_domain.html">checkpoint_management_dns_domain</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-opsec-application") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_opsec_application.html">checkpoint_management_opsec_application</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-tcp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_tcp.html">checkpoint_management_service_tcp</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-udp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_udp.html">checkpoint_management_service_udp</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-icmp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_icmp.html">checkpoint_management_service_icmp</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-icmp6") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_icmp6.html">checkpoint_management_service_icmp6</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-sctp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_sctp.html">checkpoint_management_service_sctp</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-rpc") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_rpc.html">checkpoint_management_service_rpc</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-other") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_other.html">checkpoint_management_service_other</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-dce-rpc") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_dce_rpc.html">checkpoint_management_service_dce_rpc</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_group.html">checkpoint_management_service_group</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-application-site") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_application_site.html">checkpoint_management_application_site</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-application-site-category") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_application_site_category.html">checkpoint_management_application_site_category</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-application-site-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_application_site_group.html">checkpoint_management_application_site_group</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-access-rule") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_access_rule.html">checkpoint_management_access_rule</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-access-role") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_access_role.html">checkpoint_management_access_role</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-access-section") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_access_section.html">checkpoint_management_access_section</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-access-layer") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_access_layer.html">checkpoint_management_access_layer</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-vpn-community-meshed") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_vpn_community_meshed.html">checkpoint_management_vpn_community_meshed</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-vpn-community-star") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_vpn_community_star.html">checkpoint_management_vpn_community_star</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-exception-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_exception_group.html">checkpoint_management_exception_group</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-threat-indicator") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_threat_indicator.html">checkpoint_management_threat_indicator</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-https-rule") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_https_rule.html">checkpoint_management_https_rule</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-https-section") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_https_section.html">checkpoint_management_https_section</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-https-layer") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_https_layer.html">checkpoint_management_https_layer</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-package") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_package.html">checkpoint_management_package</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-access-point-name") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_access_point_name.html">checkpoint_management_access_point_name</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-checkpoint-host") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_checkpoint_host.html">checkpoint_management_checkpoint_host</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-gsn-handover-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_gsn_handover_group.html">checkpoint_management_gsn_handover_group</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-identity-tag") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_identity_tag.html">checkpoint_management_identity_tag</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-mds") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_mds.html">checkpoint_management_mds</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-citrix-tcp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_citrix_tcp.html">checkpoint_management_service_citrix_tcp</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-compound-tcp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_compound_tcp.html">checkpoint_management_service_compound_tcp</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-user") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_user.html">checkpoint_management_user</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-user-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_user_group.html">checkpoint_management_user_group</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-user-template") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_user_template.html">checkpoint_management_user_template</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-vpn-community-remote-access") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_vpn_community_remote_access.html">checkpoint_management_vpn_community_remote_access</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-get-attachment") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_get_attachment.html">checkpoint_management_get_attachment</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-ha-full-sync") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_ha_full_sync.html">checkpoint_management_ha_full_sync</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-automatic-purge") %>>
               <a href="/docs/providers/checkpoint/r/checkpoint_management_set_automatic_purge.html">checkpoint_management_set_automatic_purge</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-ha-state") %>>
               <a href="/docs/providers/checkpoint/r/checkpoint_management_set_ha_state.html">checkpoint_management_set_ha_state</a>
            </li>
	        <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-login") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_login.html">checkpoint_management_login</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-logout") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_logout.html">checkpoint_management_logout</a>
            </li>
	    <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-publish") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_publish.html">checkpoint_management_publish</a>
            </li>
	    <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-install-policy") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_install_policy.html">checkpoint_management_install_policy</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-run-ips-update") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_run_ips_update.html">checkpoint_management_run_ips_update</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-discard") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_discard.html">checkpoint_management_discard</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-disconnect") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_disconnect.html">checkpoint_management_disconnect</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-keepalive") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_keepalive.html">checkpoint_management_keepalive</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-revert-to-revision") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_revert_to_revision.html">checkpoint_management_revert_to_revision</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-verify-revert") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_verify_revert.html">checkpoint_management_verify_revert</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-login-message") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_set_login_message.html">checkpoint_management_set_login_message</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-add-data-center-object") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_add_data_center_object.html">checkpoint_management_add_data_center_object</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-delete-data-center-object") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_delete_data_center_object.html">checkpoint_management_delete_data_center_object</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-update-updatable-objects-repository-content") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_update_updatable_objects_repository_content.html">checkpoint_management_update_updatable_objects_repository_content</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-add-updatable-object") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_add_updatable_object.html">checkpoint_management_add_updatable_object</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-delete-updatable-object") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_delete_updatable_object.html">checkpoint_management_delete_updatable_object</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-ips-update-schedule") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_set_ips_update_schedule.html">checkpoint_management_set_ips_update_schedule</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-run-threat-emulation-file-types-offline-update") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_run_threat_emulation_file_types_offline_update.html">checkpoint_management_run_threat_emulation_file_types_offline_update</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-verify-policy") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_verify_policy.html">checkpoint_management_verify_policy</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-global-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_set_global_domain.html">checkpoint_management_set_global_domain</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-assign-global-assignment") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_assign_global_assignment.html">checkpoint_management_assign_global_assignment</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-restore-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_restore_domain.html">checkpoint_management_restore_domain</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-migrate-import-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_migrate_import_domain.html">checkpoint_management_migrate_import_domain</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-backup-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_backup_domain.html">checkpoint_management_backup_domain</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-migrate-export-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_migrate_export_domain.html">checkpoint_management_migrate_export_domain</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-uninstall-software-package") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_uninstall_software_package.html">checkpoint_management_uninstall_software_package</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-verify-software-package") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_verify_software_package.html">checkpoint_management_verify_software_package</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-install-software-package") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_install_software_package.html">checkpoint_management_install_software_package</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-unlock-administrator") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_unlock_administrator.html">checkpoint_management_unlock_administrator</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-add-api-key") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_add_api_key.html">checkpoint_management_add_api_key</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-delete-api-key") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_delete_api_key.html">checkpoint_management_delete_api_key</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-api-settings") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_set_api_settings.html">checkpoint_management_set_api_settings</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-export") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_export.html">checkpoint_management_export</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-where-used") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_where_used.html">checkpoint_management_where_used</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-run-script") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_run_script.html">checkpoint_management_run_script</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-install-database") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_install_database.html">checkpoint_management_install_database</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-threat-protection") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_set_threat_protection.html">checkpoint_management_set_threat_protection</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-add-threat-protections") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_add_threat_protections.html">checkpoint_management_add_threat_protections</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-delete-threat-protections") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_delete_threat_protections.html">checkpoint_management_delete_threat_protections</a>
            </li>
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-put-file") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_put_file.html">checkpoint_management_put_file</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-checkpoint-gaia-resource") %>>
        <a href="#">GAIA Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-checkpoint-gaia-resource-checkpoint-hostname") %>>
                    <a href="/docs/providers/checkpoint/r/checkpoint_hostname.html">checkpoint_hostname</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-gaia-resource-checkpoint-physical-interface") %>>
                    <a href="/docs/providers/checkpoint/r/checkpoint_physical_interface.html">checkpoint_physical_interface</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-gaia-resource-checkpoint-put-file") %>>
                    <a href="/docs/providers/checkpoint/r/checkpoint_put_file.html">checkpoint_put_file</a>
                </li>
            </ul>
        </li>

         <li<%= sidebar_current("docs-checkpoint-data-source") %>>
         <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-access-role") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_access_role.html">checkpoint_management_data_access_role</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-access-rule") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_access_rule.html">checkpoint_management_data_access_rule</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-access-layer") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_access_layer.html">checkpoint_management_data_access_layer</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-access-section") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_access_section.html">checkpoint_management_data_access_section</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-address-range") %>>
                   <a href="/docs/providers/checkpoint/d/checkpoint_management_data_address_range.html">checkpoint_management_data_address_range</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-application-site") %>>
                   <a href="/docs/providers/checkpoint/d/checkpoint_management_data_application_site.html">checkpoint_management_data_application_site</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-application-site-category") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_application_site_category.html">checkpoint_management_data_application_site_category</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-application-site-group") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_application_site_group.html">checkpoint_management_data_application_site_group</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-dns-domain") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_dns_domain.html">checkpoint_management_data_dns_domain</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-dynamic-object") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_dynamic_object.html">checkpoint_management_data_dynamic_object</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-exception-group") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_exception_group.html">checkpoint_management_data_exception_group</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-group") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_group.html">checkpoint_management_data_group</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-group-with-exclusion") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_group_with_exclusion.html">checkpoint_management_data_group_with_exclusion</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-time-group") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_time_group.html">checkpoint_management_data_time_group</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-host") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_host.html">checkpoint_management_data_host</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-https-layer") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_https_layer.html">checkpoint_management_data_https_layer</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-https-rule") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_https_rule.html">checkpoint_management_data_https_rule</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-https-section") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_https_section.html">checkpoint_management_data_https_section</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-network") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_network.html">checkpoint_management_data_network</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-multicast-address-range") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_multicast_address_range.html">checkpoint_management_data_multicast_address_range</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-opsec-application") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_opsec_application.html">checkpoint_management_data_opsec_application</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-package") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_package.html">checkpoint_management_data_package</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-security-zone") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_security_zone.html">checkpoint_management_data_security_zone</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-dce-rpc") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_service_dce_rpc.html">checkpoint_management_data_service_dce_rpc</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-group") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_service_group.html">checkpoint_management_data_service_group</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-icmp") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_service_icmp.html">checkpoint_management_data_service_icmp</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-icmp6") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_service_icmp6.html">checkpoint_management_data_service_icmp6</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-other") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_service_other.html">checkpoint_management_data_service_other</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-rpc") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_service_rpc.html">checkpoint_management_data_service_rpc</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-sctp") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_service_sctp.html">checkpoint_management_data_service_sctp</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-tcp") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_service_tcp.html">checkpoint_management_data_service_tcp</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-udp") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_service_udp.html">checkpoint_management_data_service_udp</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-threat-indicator") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_threat_indicator.html">checkpoint_management_data_threat_indicator</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-vpn-community-meshed") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_vpn_community_meshed.html">checkpoint_management_data_vpn_community_meshed</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-vpn-community-star") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_vpn_community_star.html">checkpoint_management_data_vpn_community_star</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-wildcard") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_data_wildcard.html">checkpoint_management_data_wildcard</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-access-point-name") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_access_point_name.html">checkpoint_management_access_point_name</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-checkpoint-host") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_checkpoint_host.html">checkpoint_management_checkpoint_host</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-gsn-handover-group") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_gsn_handover_group.html">checkpoint_management_gsn_handover_group</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-identity-tag") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_identity_tag.html">checkpoint_management_identity_tag</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-mds") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_mds.html">checkpoint_management_mds</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-citrix-tcp") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_service_citrix_tcp.html">checkpoint_management_service_citrix_tcp</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-service-compound-tcp") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_service_compound_tcp.html">checkpoint_management_service_compound_tcp</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-user") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_user.html">checkpoint_management_user</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-user-group") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_user_group.html">checkpoint_management_user_group</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-user-template") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_user_template.html">checkpoint_management_user_template</a>
                </li>
                <li<%= sidebar_current("docs-checkpoint-data-source-checkpoint-management-vpn-community-remote-access") %>>
                    <a href="/docs/providers/checkpoint/d/checkpoint_management_vpn_community_remote_access.html">checkpoint_management_vpn_community_remote_access</a>
                </li>
            </ul>
         </li>
        </ul>
      </li>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
