<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-checkpoint-index") %>>
          <a href="/docs/providers/checkpoint/index.html">Check Point Provider</a>
        </li>

        <li<%= sidebar_current("docs-checkpoint-resource") %>>
        <a href="#">Resources</a>
          <ul class="nav nav-visible">

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-access-rule") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_access_rule.html">checkpoint_management_access_rule</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-address-range") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_address_range.html">checkpoint_management_address_range</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_group.html">checkpoint_management_group</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-host") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_host.html">checkpoint_management_host</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-network") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_network.html">checkpoint_management_network</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-package") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_package.html">checkpoint_management_package</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_group.html">checkpoint_management_service_group</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-tcp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_tcp.html">checkpoint_management_service_tcp</a>
            </li>

             <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-udp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_udp.html">checkpoint_management_service_udp</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-threat-indicator") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_threat_indicator.html">checkpoint_management_threat_indicator</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-publish") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_publish.html">checkpoint_management_publish</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-install-policy") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_install_policy.html">checkpoint_management_install_policy</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-login") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_login.html">checkpoint_management_login</a>
            </li>

             <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-logout") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_logout.html">checkpoint_management_logout</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-run-ips-update") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_run_ips_update.html">checkpoint_management_run_ips_update</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-hostname") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_hostname.html">checkpoint_hostname</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-put-file") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_put_file.html">checkpoint_put_file</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-physical-interface") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_physical_interface.html">checkpoint_physical_interface</a>
            </li>

          </ul>
        </li>
          </ul>
      </li>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
