<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-checkpoint-index") %>>
          <a href="/docs/providers/checkpoint/index.html">Check Point Provider</a>
        </li>

        <li<%= sidebar_current("docs-checkpoint-resource") %>>
        <a href="#">Resources</a>
          <ul class="nav nav-visible">
          
            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-discard") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_discard.html">checkpoint_management_discard</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-disconnect") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_disconnect.html">checkpoint_management_disconnect</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-keepalive") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_keepalive.html">checkpoint_management_keepalive</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-revert-to-revision") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_revert_to_revision.html">checkpoint_management_revert_to_revision</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-verify-revert") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_verify_revert.html">checkpoint_management_verify_revert</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-login-message") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_set_login_message.html">checkpoint_management_set_login_message</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-add-data-center-object") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_add_data_center_object.html">checkpoint_management_add_data_center_object</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-delete-data-center-object") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_delete_data_center_object.html">checkpoint_management_delete_data_center_object</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-update-updatable-objects-repository-content") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_update_updatable_objects_repository_content.html">checkpoint_management_update_updatable_objects_repository_content</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-add-updatable-object") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_add_updatable_object.html">checkpoint_management_add_updatable_object</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-delete-updatable-object") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_delete_updatable_object.html">checkpoint_management_delete_updatable_object</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-ips-update-schedule") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_set_ips_update_schedule.html">checkpoint_management_set_ips_update_schedule</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-run-threat-emulation-file-types-offline-update") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_run_threat_emulation_file_types_offline_update.html">checkpoint_management_run_threat_emulation_file_types_offline_update</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-verify-policy") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_verify_policy.html">checkpoint_management_verify_policy</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-global-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_set_global_domain.html">checkpoint_management_set_global_domain</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-assign-global-assignment") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_assign_global_assignment.html">checkpoint_management_assign_global_assignment</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-restore-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_restore_domain.html">checkpoint_management_restore_domain</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-migrate-import-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_migrate_import_domain.html">checkpoint_management_migrate_import_domain</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-backup-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_backup_domain.html">checkpoint_management_backup_domain</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-migrate-export-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_migrate_export_domain.html">checkpoint_management_migrate_export_domain</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-uninstall-software-package") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_uninstall_software_package.html">checkpoint_management_uninstall_software_package</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-verify-software-package") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_verify_software_package.html">checkpoint_management_verify_software_package</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-install-software-package") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_install_software_package.html">checkpoint_management_install_software_package</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-unlock-administrator") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_unlock_administrator.html">checkpoint_management_unlock_administrator</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-add-api-key") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_add_api_key.html">checkpoint_management_add_api_key</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-delete-api-key") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_delete_api_key.html">checkpoint_management_delete_api_key</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-api-settings") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_set_api_settings.html">checkpoint_management_set_api_settings</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-export") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_export.html">checkpoint_management_export</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-put-file") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_put_file.html">checkpoint_management_put_file</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-where-used") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_where_used.html">checkpoint_management_where_used</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-run-script") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_run_script.html">checkpoint_management_run_script</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-install-database") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_install_database.html">checkpoint_management_install_database</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-set-threat-protection") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_set_threat_protection.html">checkpoint_management_set_threat_protection</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-add-threat-protections") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_add_threat_protections.html">checkpoint_management_add_threat_protections</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-delete-threat-protections") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_delete_threat_protections.html">checkpoint_management_delete_threat_protections</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-host") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_host.html">checkpoint_management_host</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-network") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_network.html">checkpoint_management_network</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-wildcard") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_wildcard.html">checkpoint_management_wildcard</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_group.html">checkpoint_management_group</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-address-range") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_address_range.html">checkpoint_management_address_range</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-multicast-address-range") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_multicast_address_range.html">checkpoint_management_multicast_address_range</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-group-with-exclusion") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_group_with_exclusion.html">checkpoint_management_group_with_exclusion</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-simple-gateway") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_simple_gateway.html">checkpoint_management_simple_gateway</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-simple-cluster") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_simple_cluster.html">checkpoint_management_simple_cluster</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-security-zone") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_security_zone.html">checkpoint_management_security_zone</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-time") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_time.html">checkpoint_management_time</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-time-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_time_group.html">checkpoint_management_time_group</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-access-role") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_access_role.html">checkpoint_management_access_role</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-dynamic-object") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_dynamic_object.html">checkpoint_management_dynamic_object</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-trusted-client") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_trusted_client.html">checkpoint_management_trusted_client</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-tag") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_tag.html">checkpoint_management_tag</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-dns-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_dns_domain.html">checkpoint_management_dns_domain</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-opsec-application") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_opsec_application.html">checkpoint_management_opsec_application</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-lsv-profile") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_lsv_profile.html">checkpoint_management_lsv_profile</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-data-center-server") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_data_center_server.html">checkpoint_management_data_center_server</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-tcp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_tcp.html">checkpoint_management_service_tcp</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-udp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_udp.html">checkpoint_management_service_udp</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-icmp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_icmp.html">checkpoint_management_service_icmp</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-icmp6") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_icmp6.html">checkpoint_management_service_icmp6</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-sctp") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_sctp.html">checkpoint_management_service_sctp</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-other") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_other.html">checkpoint_management_service_other</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_group.html">checkpoint_management_service_group</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-application-site") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_application_site.html">checkpoint_management_application_site</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-application-site-category") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_application_site_category.html">checkpoint_management_application_site_category</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-application-site-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_application_site_group.html">checkpoint_management_application_site_group</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-dce-rpc") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_dce_rpc.html">checkpoint_management_service_dce_rpc</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-service-rpc") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_service_rpc.html">checkpoint_management_service_rpc</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-access-rule") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_access_rule.html">checkpoint_management_access_rule</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-access-section") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_access_section.html">checkpoint_management_access_section</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-access-layer") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_access_layer.html">checkpoint_management_access_layer</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-nat-rule") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_nat_rule.html">checkpoint_management_nat_rule</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-nat-section") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_nat_section.html">checkpoint_management_nat_section</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-vpn-community-meshed") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_vpn_community_meshed.html">checkpoint_management_vpn_community_meshed</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-vpn-community-star") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_vpn_community_star.html">checkpoint_management_vpn_community_star</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-threat-rule") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_threat_rule.html">checkpoint_management_threat_rule</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-threat-exception") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_threat_exception.html">checkpoint_management_threat_exception</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-exception-group") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_exception_group.html">checkpoint_management_exception_group</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-threat-protection") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_threat_protection.html">checkpoint_management_threat_protection</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-threat-profile") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_threat_profile.html">checkpoint_management_threat_profile</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-threat-indicator") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_threat_indicator.html">checkpoint_management_threat_indicator</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-threat-layer") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_threat_layer.html">checkpoint_management_threat_layer</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-https-rule") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_https_rule.html">checkpoint_management_https_rule</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-https-section") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_https_section.html">checkpoint_management_https_section</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-https-layer") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_https_layer.html">checkpoint_management_https_layer</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-server-certificate") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_server_certificate.html">checkpoint_management_server_certificate</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-package") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_package.html">checkpoint_management_package</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-domain") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_domain.html">checkpoint_management_domain</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-global-assignment") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_global_assignment.html">checkpoint_management_global_assignment</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-smart-task") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_smart_task.html">checkpoint_management_smart_task</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-administrator") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_administrator.html">checkpoint_management_administrator</a>
            </li>

            <li<%= sidebar_current("docs-checkpoint-resource-checkpoint-management-objects-batch") %>>
              <a href="/docs/providers/checkpoint/r/checkpoint_management_objects_batch.html">checkpoint_management_objects_batch</a>
            </li>


          </ul>
        </li>
          </ul>
      </li>
    </div>
  <% end %>

  <%= yield %>
  <% end %>